*{
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.header{
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 225px;
}

nav{
  background: white;
  height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.logo{
  margin-top: 15px;
  margin-left: 20px;
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #061232;
  width: 65px;
  height: 30px;
  font-family: sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  padding: 20px;
}

.btn {
  background: #061232;;
  background-image: -webkit-linear-gradient(top, #061232;, #2980b9);
  background-image: -moz-linear-gradient(top, #061232;, #2980b9);
  background-image: -ms-linear-gradient(top, #061232;, #2980b9);
  background-image: -o-linear-gradient(top, #061232;, #2980b9);
  background-image: linear-gradient(to bottom, #061232;, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-width: 10px;
  border-bottom-width: 10px;
}

  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
   display: none;
}
#check{
   display: none;
}
@media screen and (max-width: 1300px) {
  .checkbtn{
    display:block;
  }
  label.logo{
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
   nav ul{
   position: fixed;
    width: 100%;
    height: 70vh;
    background:  #CCFAF9;
    top: 80px;
    left: 0;
    text-align: center;

  }
  nav ul li{
    display: block;
  }
  nav ul li a{
    font-size: 20px;
  }


}
.terms{
position: absolute;
display: flex;
width: 100%;
height: 60px;
top: 150px;
background: #CCFAF9;
font-family: sans-serif;
color: #061232;
justify-content: center;
align-items: center;
font-weight: 100px;
}
.thank_you{
width: 1190px;
left: 122px;
margin-top: 200px;
width: 1203px;
margin-left: 50px;
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 45px;
color: #061232;
text-align: left;

}
.create{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
margin-top: 50px;
width: 310px;
height: 80px;
margin-left: 450px;
top: 1156px;
background: #061232;
border-radius: 8px;
}
.create_qr{
width: 190px;
height: 36px;
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #ffffff;

}
footer{
  display: flex;
  flex-direction: column;
  position: absolute;
}
.container{
width: 100%;
height: 450px;
margin-top: 70px;
background: #CCFAF9;
display: flex;

}
.logo-footer{
  margin-left: 30px;
  color: #061232;

}
.generate{
  text-align: left;
  width: 300px;
  padding-top: 30px;
  margin-left: 30px;
  color:#061232;
  font-family: sans-serif;
  font-size: 14.5px;
}
.column-1{
  font-family: sans-serif;
  line-height: 36px;
  font-size: 14px;


}
.column-2{
font-family: sans-serif;
  line-height: 45px;
  font-size: 14px;
  flex-grow: 1;
  margin-left: 300px;
}
.column-3{
  font-family: sans-serif;
  line-height: 45px;
    font-size: 14px;
    flex-grow: 1;
    margin-left: 150px;

}
footer a{
  color: #000000;
}
.copy{
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 12px;
}



@media screen and (max-width: 1300px) {
  .terms{
    width: 100%;
    height: 100px;
    border-radius: 4px;
    font-size: 50px;
    margin-left: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .thank_you{
    width: 100%;
    margin-left: 50px;
    text-align: left;
    justify-content: center;
  }
   .create{
     width: 100%;
     margin-left: 0px;
   }
   .logo-footer{
     margin-left: 500px;
   }
   .generate{
     font-size: 20px;
     width: 100%;
     margin-left: 50px;
     text-align: left;

   }
   .container{
     width: 100%;
     height:600px;
     display: flex;
   }
   .column-1{
     height: 200px;
   }
   .column-2{
     width: 50%;
     margin-left: 0px;
     margin-top: 220px;

   }
   .column-3{
     width: 50%;
     margin-left: 0px;
     margin-top: 220px;

   }
   .column-2 a{
    width: 100px;
   }
   .column-3 a{
    width: 100px;
   }

  }
