*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

.hero{
    width:100% ;
    margin-bottom: 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.logo{
    font-size: 48px;
    color: #061232;

}

ul{
    display:flex;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    
}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #061232;
}

.log{
    justify-self:center;
    margin-left:17rem;

}

a{
    position: relative;
    display:inline-block;
    text-decoration: none;
    color: #061232;
    
    
}

a:after{
    content:"";
    position: absolute;
    background-color: #061232;
    height: 2px;
    width: 0;
    left:0;
    transition:width .3s ease-in-out;
    top:100%;
    
}

a:hover:after{
    width:100%;
}

button{
    border:none;
    border-radius: 4px ;
    background: #061232;
    padding: 5px 15px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    transition: .4s;
    width: 167px;
    height: 48px;
}

button:hover{
    transform: scale(1);
    cursor: pointer;
}

.hero-content button{
    padding: 10px 50px;
    width: 353px;
    height: 78px;
}

.hero-content{
    display:flex;
    align-items:center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 137px;
    padding-right: 120px;
    
}

.col1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col2{
    position:relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.hero-content h1{
    font-size: 56px;
    font-weight: 500;
    color: #061232;

}
.hero-content .text-info{
    flex:1;
    
}

.hero-content .text-info p{
    font-size: 24px;
    font-weight: 400;
    color: #061232;
    
}

.hero-content .illustration{
    flex:1;
}

.hero-content .illustration img{

    width:100%;
}



.feature-section h3{
    text-align: center;
    font-size: 32px;
    padding: 50px;
    background: #CCFAF966;
    color: #061232;
    padding: 20px;
    justify-items: center;
}

.feature-section{
    position:relative;
    width:100%;
    margin-top: 30px;
    
}

.feature{
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding:  0 120px;
}

.feature .text-info{
    text-align: right;
    align-items: center;
    width:77%;
    font-size: 32px;
    font-weight:400;
    
}

.feature .illustration{
    
    align-items: center;
    
}

.feature .illustration img{
    padding:5px;
}


.feature:nth-child(even) .illustration{
    justify-content: flex-start;
}

.ofeatures-content h4{
        text-align: center;
        background-color: #CCFAF966;
        color: #061232;
        width: 100%;
        font-size: 32px;
}

.ofeatures-content{
        margin-top: 20px;
        align-items:center;

}

.wrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 30px;
    font-size: 12px;
    background-color: #F5F6F7;
    border-radius: 5px;
    padding: 50px 50px;
    text-align: center;
    width: 100%;
    padding: 0 124px;
    
}


h6{
    text-align: center;
    font-size: 20px;

}

.wrapper2{
    text-align: center;
    justify-items: center;
    width: 100%;
    
}

.wrapper2 h1{
    padding: 40px;
}
.wrapper-items{
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        gap: 50px;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        margin-right: 50px;
        margin-left: 50px;
}

.wrapper2 button{
     margin-top: 50px;
     
    border:none;
    border-radius: 4px ;
    
    padding: 10px 70px;
    
    font-weight: 400;
    font-size: 20px;
    transition: .4s;
}

.wrapper3{

    width: 100%;
    margin-top: 50px;
    justify-items: center;
    

}

.head{
    text-align: center;
    background-color: #9aa3a166;
    color: #061232;
    padding: 20px;
    font-size: 16px;
    margin-top: 10px;
}

.faq{
        margin: 20px;
        font-size: 30px;
        border-radius: 5px;
        
}

.can{
    margin: 30px;
    background-color: #CCFAF966;
    padding:30px 30px;
    font-size: 18px;
}

.do{
        margin: 30px;
        background-color: #CCFAF966;
        padding:30px 30px;
    font-size: 18px;
}

.what{
    margin: 30px;
    background-color: #CCFAF966;
    padding:30px 30px;
    font-size: 18px;
}

.is{
    margin: 30px;
    background-color: #CCFAF966;
    padding:30px 30px;
    font-size: 18px;

}

.wrapper3 button{
    border-radius: 4px ;
    padding: 10px 70px;
    font-weight: 400;
    font-size: 20px;
    transition: .4s;
    justify-content: center;
    align-items: center;
    margin-left: 37%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper3 a:after{
        content:"";
        position: absolute;
        background-color: #061232;
        height: 2px;
        width: 0;
        left:0;
        transition:width .3s ease-in-out;
        top:100%;
}

footer{
    justify-content: center;
    align-content: center;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #CCFAF966;
    padding: 30px 30px;
}

.foot{
    display:grid;
    grid-auto-flow: column;
    gap: 100px;
    justify-items: space-between;
    text-align: left;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    
}
.gen{
    width: 250px;
    font-size: 14px;
}

.foot a:hover{
    
    cursor: pointer;
}

