/* import Glimer font from local file*/
@font-face {
    font-family: 'Glimer';
    src: url("font/Gilmer-Font/Gilmer-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'Glimer';
    src: url("font/Gilmer-Font/Gilmer-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: 'Glimer';
    src: url("font/Gilmer-Font/Gilmer-Light.otf") format("opentype");
    font-weight: lighter;
}

@font-face {
    font-family: 'Glimer';
    src: url("font/Gilmer-Font/Gilmer-Medium.otf") format("opentype");
    font-weight: 600;
}


:root {
    --primary-color: #061232;
    --text-color: #061232;
    --placeholder-color: rgba(6, 18, 50, 0.5);
    --link-color: #007370;
    --input-active: #4375FA;
}

html {
    font-size: 16px;
}

*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* for mobile */

.qr-create-main {
    font-family: 'Glimer', sans-serif;
}

.side-bar {
    display: none;
}

.main-content {
    width: 90vw;
    margin: 3.62rem auto 3.62rem;
}

.main-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content-header h1 {
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--text-color);
}

.main-content-header .right {
    display: flex;
    align-items: center;
}

.menu-addon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.7rem;
}

.user-avatar {
    display: none;
}

.mobile-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.7rem;
}

.main-content-header .right h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--text-color);
}

.qr-type {
    text-align: center;
    margin: 2.88rem 0 0.94rem;
}

.qr-type img {
    max-width: 100%;
    height: auto;
}

.qr-type .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.38rem;
    gap: 25px;
    height: 50px;
    max-width: 90vw;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 3.38rem;
}

.checkbox label {
    margin-left: 3.5rem;
    color: var(--text-color);
    font-size: 1rem;
}

.qr-code-details {
    margin: 1rem 0;
    padding: 1.56rem;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.25rem;
}


.input-box label {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.3rem;
}

.input-box input, .detail-box > input {
    color: var(--primary-color);
    font-family: 'Glimer', sans-serif;
    font-size: 0.875rem;
    padding: 1rem;
    height: 56px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.input-box input:focus, .detail-box > input:focus {
    outline: none;
    border-color: var(--input-active);
}

::placeholder {
    color: var(--placeholder-color);
}

.qr-code-style {
    padding: 1.56rem;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-bottom: 1.25rem;
}

textarea {
    font: inherit;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
}

.qr-format-box {
    padding: 1.56rem;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.qr-format-box p {
    font-size: 0.875rem;
    line-height: 1.3;
}

.qr-format-box .inner-section {
    display: flex;
    justify-content: center;
    width: 90%;
    max-height: 56px;
    margin: 1.13rem auto;
}

.select-qr-format {
    font-family: inherit;
    color: var(--primary-color);
    background-color: #fff;
    height: 2.75rem;
    width: 120px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: 1px solid #BFBFBF;
}

.qr-format-box .inner-section button, .save-edit {
    width: 160px;
    font-family: inherit;
    color: #fff;
    background-color: var(--primary-color);
    padding: 0.3rem 0.75rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.download-btn {
    font-family: inherit;
    font-size: 1rem;
    font-weight: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--primary-color);
    width: 80%;
    height: 51px;
    margin: 1.5rem auto;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* for qr-details page */

.details-body {
    margin: 1.13rem 0;
}

.section-1 .inner-wrapper {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.img-box {
    padding: 0.57rem 0.75rem;
    background: #CCFAF9;
    border-radius: 8px;
    max-width: max-content;
}

.img-box .image {
    max-width: 100%;
    height: auto;
    width: 55px;
}

.qr-detail-info {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.qr-detail-info > .category {
    font-size: 0.75rem;
    line-height: 1.5;
}

.qr-detail-info > .name {
    font-size: 1.5rem;
    line-height: 1.5;
}

.section-1 > .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.38rem;
    padding: 0.5rem 0.3rem;
    margin-top: 1rem;
}

.status > h3, .status > p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.detail-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 2.25rem 0 1.5rem;
}
.detail-box > label {
    font-size: 1rem;
    line-height: 1.5;
}

.detail-box > input::placeholder {
    color: var(--text-color);
    font-size: 0.875rem;
}

.save-edit-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.save-edit {
    width: 40%;
    height: 37px;
    margin: 0;
}

.scan-activities {
    width: 90%;
    margin: 0 auto;
}

.scan-activities > .heading {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.scan-info {
    border: 1px solid #B1B1B1;
    border-radius: 8px;
    padding: 4.5rem 0.5rem;
    margin-bottom: 1.63rem;
}

.scan-info:last-child {
    margin-bottom: 0;
}

.scan-info > h4 {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
}

.scan-info > h4 > .number {
    display: block;
    font-size: 3rem;
    font-weight: bold;
}
/* ending for detail page */

/* desktop view */

@media (min-width:760px) {

    .qr-create-main {
        display: grid;
        grid-template-columns: minmax(min-content, 264px) 4fr;
        grid-template-areas: "sidebar main-content";
        height: 100vh;
    }

    .side-bar {
        display: block;
        grid-area: sidebar;
        background-color: var(--primary-color);
    }

    .logo-box {
        width: 80%;
        margin: 4.063rem auto 5.93rem;
        padding: 0.75rem 1rem;
        background-color: #fff;
    }

    .logo-box img {
        max-width: 100%;
        height: auto;
    }

    .primary-nav {
        margin-bottom: 4rem;
    }

    .primary-nav .nav-link-box, .log-out-box, .sec-nav {
        width: 90%;
        margin: 1.5rem auto;
    }

    .primary-nav .nav-link-box .nav-link, .log-out-box .nav-link, .sec-nav .nav-link {
        padding: 0.813rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 0.875rem;
        color: #fff;
    }

    .primary-nav .nav-link-box .nav-link svg, .log-out-box .nav-link svg {
        margin-right: 0.625rem;
    }

    .sec-nav {
        margin-top: 2rem;
    }


    .sec-nav .nav-link {
        justify-content: space-between;
        border-top: 1px solid #fff;
        padding-top: 2.47rem;
        padding-bottom: 2.47rem;
    }

    .sec-nav .nav-link:last-child {
        border-bottom: 1px solid #fff;
    }


    .main-content {
        all: unset;
        grid-area: main-content;
        width: 90%;
        margin: 4.063rem auto 0;
    }

    .main-content-header h1 {
        font-size: 1.5rem;
    }

    .mobile-menu-container {
        display: none;
    }

    .menu-addon {
        margin-left: 3.5rem;
    }

    .user-avatar {
        display: block;
        margin-right: 0.9rem;
    }

    .main-body form {
        display: grid;
        grid-template-areas: "grid1 grid2"
                            "grid3 grid4";

        grid-template-columns: 1fr 1fr;
        gap: 37px;
        margin-top: 6.4rem;
    }

    .qr-code-details {
        margin: unset;
        grid-area: grid1;
    }

    .qr-type {
        margin: unset;
        grid-area: grid2;
    }

    .qr-style-box {
        grid-area: grid3;
    }

    .qr-format-box {
        margin: unset;
        grid-area: grid4;
    }

    .qr-code-style {
        margin: unset;
    }

    .qr-format-box .inner-section {
        justify-content: space-evenly;
    }

    .select-qr-format, .qr-format-box .inner-section button {
        width: 191px;
    }

    .download-btn {
        width: 40%;
    }

    /* for detail  desktop page */

    .details-body {
        margin-top: 5%;
    }

    .section-1 {
        display: grid;
        grid-template-areas: "a b"
                             "c d";
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .inner-wrapper {
        grid-area: a;
        justify-content: space-around;
    }

    .img-box {
        background-color: transparent;
        padding: 0;
    }

    .img-box .image {
        width: 132px;
    }

    .qr-detail-info {
        flex-direction: column-reverse;
        text-align: center;
    }

    .qr-detail-info > .name {
        font-size: 3rem;
        font-weight: 600;
    }

    .qr-detail-info > .category {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .status {
        grid-area: b;
    }

    .status > h3, .status > p {
        font-size: 1.75rem;
        font-weight: 600;
    }

    .detail-edit {
        grid-area: d;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 90%;
    }

    .detail-box {
        margin: 0;
        width: 30vw;
    }

    .save-edit-box {
        margin: 0;
        height: 100%;
        align-items: flex-end;
    }

    .save-edit {
        width: 15vw;
        height: 56px;
        margin: 0;
    }

    .scan-activities {
        margin-top: 3rem;
    }

    .stat-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .scan-info {
        flex: 1;
        margin: 0;
        width: calc(100% / 3);
        padding: 3.6rem 0.5rem;
    }







}