<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Delete QR code</title>
</head>
<body>

<form action="." method="post">
    {% csrf_token %}
    <h1>
        Do you want to delete the QRcode "{{ object.title }}"?
    </h1>
    <p>
        <input type="submit" value="Yes"> <a href="../">Cancel</a>
    </p>


</form>

</body>
</html>