{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style-about-us.css' %}">
</head>

<body>

<header>
    <img class="logo" src="{% static 'images/Logo.png' %}" alt="">

    <nav class="nav-items" id="myTopnav">
        <ul class="nav-list">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
        </ul>

        <div class="log-reg">
            <a class="login" href="{% url 'login' %}">Login</a>
            <a class="reg" href="{% url 'register' %}">
                <button>Get Started</button>
            </a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>

</header>
<div class="body">
    <div class="item-1">
        <h1>About Us</h1>
    </div>
    <div class="item-2">
        <p class="item-2"> We know how boring QR code sounds and that is why we have made it fun and so easy to use with
            our exciting features and functionalities unique QR code generator, you can create a QR code that links to
            your social account, Request Crypto payment, Request bank payment, Make Calls, connect to Wifi networks,
            Download mobile apps and many more we made sure all QR codes are safe and secure easy to generate. Also you
            can manage Users, choice preferences and also recover your password from the our settings page</p>
        <div class="create">

            <a class="create_qr" href="{% url 'create' %}">
                <button>Create QR code</button>
            </a>
        </div>
    </div>
</div>

</body>
<footer class="fcontainer">
    <section class="container">
        <div class="column-1">
            <label class="logo-footer">
                <img src="{% static 'images/Logo.png' %}" alt="">
            </label>
            <p class="generate">Generate different QR codes depending on your purpose,you can use our QR generator to
                create QR codes to open a website,store image files,view PDF files,connect to a Wifi and more.</p>
        </div>
        <div class="column-2">
            <ul>
                <li><h5>Useful links</h5></li>

                <li><a href="{% url 'create' %}">Create QR code</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'tos' %}">Terms of service</a></li>
                <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>

            </ul>

        </div>
        <div class="column-3">
            <ul>
                <li><h5>Support</h5></li>
                <li><a href="{% url 'contact' %}">Contact us</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>

        </div>


    </section>
    <section class="copy"><p>copyright @ 2022 name of company</p></section>

</footer>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "nav-items") {
      x.className += " responsive";
    } else {
      x.className = "nav-items";
    }
  }

</script>
