{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style-about-us.css' %}">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <header>
                <img class="logo" src="{% static 'images/Logo.png' %}" alt="Logo">

            <nav class="nav-items">
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="http://">Contact</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>

                </ul>
            </nav>
            <a class="login" href="{% url 'login' %}">Login</a>
            <a class="reg" href="{% url 'register %}"><button>Get Started</button></a>
        </header>
        <main>
            <div class="wrapper">
                <div class="item1"><h1>About Us</h1></div>

            <div class="item2">
                <p>We know how QR codes sounds and that is why we have made it fun and so easy to use with our
                    exciting features and functionalities unique QR code generator, you can create a QR code that links to your
                    social account, Request Crypto payment, Request bank payment, Make Calls, connect to Wifi networks Download mobile
                    apps and many more. We made sure all QR codes are safe, secure and easy to generate. Also you
                    can manage users,choose preferences and also recover your password from our settings page.
                </p>

                <a href="{% url 'dashboard-main' %}"><button>Create QR code</button></a>
            </div>

        </div>
        </main>
        <footer>
            <div class="f-container">
                <div class="fcol-1">
                    <img class="logo" src="{% static 'images/Logo.png' %}" alt="Logo">
                    <p>Generates different QR codes.Depending on your purpose, you  can use our  QR generator to create QR codes to open a website, Store image files, View PDF files, connect to a wifi and more</p>
                </div>
                <div class="fcol-2">

                    <div>
                        <h2>Useful Links</h2>
                        <ul>
                        <li><a href="#">Create QR code</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="http://">Terms of service</a></li>
                        <li><a href="{% url 'privacy-policy'%}">Privacy Policy</a></li>

                        </ul>
                    </div>
                </div>
                <div class="fcol-3">

                    <div class="">
                        <h2>Support</h2>
                        <ul>
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>


                        </ul>
                    </div>

                </div>
            </div>
<p class="copyright">copyright @2022 name of company</p>


        </footer>
    </div>
</body>
</html>
