{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>FAQ Page</title>

    <link rel="stylesheet" href="{% static 'styles-faq.css' %}" type="text/css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://kit.fontawesome.com/d061793390.js" crossorigin="anonymous" ></script>
</head>
  <body>
    <div class="content">
      <nav class="content-header">
        <div class="content-header-nav">
          <div class="content-header-logo">
            <img src="{% static 'images/Logo.png' %}" alt="MiQr logo" />
          </div>

          <div class="content-header-nav1">
            <ul>
              <li><a href="{% url 'home' %}" class="nav-links">Home</a></li>
              <li><a href="{% url 'about' %}" class="nav-links">About</a></li>
              <li><a href="{% url 'contact' %}" class="nav-links">Contact</a></li>
              <li><a href="{% url 'faq' %}" class="nav-links">FAQ</a></li>
            </ul>
          </div>
        </div>

        <div class="content-header-nav2">
          <ul>
            <li><a href="{% url 'login %}" class="nav-links">Login</a></li>
            <a href="{% url 'register %}"><button class="first-b">Get Started</button></a>
          </ul>
        </div>

        <div class="mobile-nav">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mobile-menu"
          >
            <path
              d="M21 10H3"
              stroke="#061232"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M21 6H3"
              stroke="#061232"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M21 14H3"
              stroke="#061232"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M21 18H3"
              stroke="#061232"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </nav>
      <div class="content-h3">
        <h2>Frequently Asked Questions</h2>
      </div>
      <div class="content-p1">
        <p>
          Here are the answers to our most frequently asked questions.<br />
          If your question is not listed here, please contact us.
        </p>
      </div>

      <section class="container">
        <div class="faq">
          <div class="faq-item" id="faq1">
            <div class="faq-box">
              <div class="question">
                <img src="{% static 'images/Vector.svg' %}" alt="Question Mark Icon" />
                <a href="#faq1" class="faq-link">
                  Can you generate QR Code from URL?
                  <i class="fa-solid fa-plus"></i>
                  <i class="fa-solid fa-minus"></i>
                </a>
              </div>

              <div class="answer">
                <p>Yes, it is possible to generate QR Code from URL.</p>
              </div>
            </div>
          </div>

          <div class="faq-item" id="faq2">
            <div class="faq-box">
              <div class="question">
                <img src="{% static 'images/Vector.svg' %}" alt="Question Mark Icon" />
                <a href="#faq2" class="faq-link">
                  Do I have to sign up to generate my code?
                  <i class="fa-solid fa-plus"></i>
                  <i class="fa-solid fa-minus"></i>
                </a>
              </div>
              <div class="answer">
                <p>
                  Yes, it is neccessary. To enable the user save their data and
                  edit later.
                </p>
              </div>
            </div>
          </div>

          <div class="faq-item" id="faq3">
            <div class="faq-box">
              <div class="question">
                <img src="{% static 'images/Vector.svg' %}" alt="Question Mark Icon" />
                <a href="#faq3" class="faq-link">
                  Is Generating my QR code free?
                  <i class="fa-solid fa-plus"></i>
                  <i class="fa-solid fa-minus"></i>
                </a>
              </div>
              <div class="answer">
                <p>It is totally free.</p>
              </div>
            </div>
          </div>

          <div class="faq-item" id="faq4">
            <div class="faq-box">
              <div class="question">
                <img src="{% static 'images/Vector.svg' %}" alt="Question Mark Icon" />
                <a href="#faq4" class="faq-link">
                  Can my QR Code be deactivated?
                  <i class="fa-solid fa-plus"></i>
                  <i class="fa-solid fa-minus"></i>
                </a>
              </div>
              <div class="answer">
                <p>It can be deactivated, only by the user.</p>
              </div>
            </div>
          </div>

          <div class="faq-item" id="faq5">
            <div class="faq-box">
              <div class="question">
                <img src="{% static 'images/Vector.svg' %}" alt="Question Mark Icon" />
                <a href="#faq5" class="faq-link">
                  How many times can the code be scanned? Is there a limit?
                  <i class="fa-solid fa-plus"></i>
                  <i class="fa-solid fa-minus"></i>
                </a>
              </div>
              <div class="answer">
                <p>
                  There is absolutely no limits to the amount of times it can be
                  scanned.
                </p>
              </div>
            </div>
          </div>

          <div class="faq-item" id="faq6">
            <div class="faq-box">
              <div class="question">
                <img src="{% static 'images/Vector.svg' %}" alt="Question Mark Icon" />
                <a href="#faq6" class="faq-link">
                  Dynamic vs Static QR Code, which is better?
                  <i class="fa-solid fa-plus"></i>
                  <i class="fa-solid fa-minus"></i>
                </a>
              </div>
              <div class="answer">
                <p>
                  The difference between the two is that the dynamic QR code can
                  be edited even after being printed, and the static one cannot.
                  So it entirely depends on the user.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="middle">
        <button class="second-b"><a href="{% url 'create' %}">Create QR Codes</a></button><br />
      </div>

      <footer>
        <div class="footer-container">
          <div class="footer-logo">
            <img src="{% static 'images/Logo.svg' %}" alt="MiQR logo" id="logo" />
            <p class="two">
              Generates different QR Codes depending on your purpose, you can
              use our QR code generator to create QR codes to open a website,
              store Image, Files, view PDF files, connect to a Wifi and more.
            </p>
          </div>
          <div class="foot-wrap">
            <div class="foot1">
              <h3 class="second">Useful Links</h3>
              <p><a href="{% url 'create' %}">Create QR Code</a></p>
              <p><a href="{% url 'about' %}">About Us</a></p>
              <p><a href="{% url 'tos' %}">Terms of Service</a></p>
              <p><a href="{% url 'privacy-policy' %}">Privacy Policy</a></p>
            </div>
            <div class="foot1">
              <h3 class="second">Support</h3>
              <p><a href="{% url 'contact' %}">Contact</a></p>
              <p><a href="{% url 'faq' %}">FAQ</a></p>
            </div>
          </div>
        </div>
        <div class="copy"><p>copyright &copy; 2022 MiQr</p></div>
      </footer>
    </div>
  </body>
</html>
