{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Page</title>
    <link rel="stylesheet" href="font/Gilmer-Font/Gilmer Bold.otf">
    <link rel="stylesheet" href="font/Gilmer-Font/Gilmer Heavy.otf">
    <link rel="stylesheet" href="font/Gilmer-Font/Gilmer Light.otf">
    <link rel="stylesheet" href="{% static 'styles-faq.css' %}" type="text/css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>
<body>
    <div class="main-body">
        <nav class="navbar">
            <img src="{% static 'images/Logo.png' %}" alt="MiQr logo">
            <span class="iconify icon1" data-icon="ant-design:menu-outlined"></span>
        </nav>
        <h2>Frequently Asked Questions</h2>
        <p class="one">Here are the answers to our most frequently asked questions.<br> If your question is not listed here, please contact us.</p>
        <div class="flexbox-container">
            <div class="flexbox-item flexbox-item1">
                <span class="iconify icons" data-icon="eva:question-mark-fill"></span>
                <h3>Question 1</h3>
                <p class="p1">Can you generate QR Code from URL?</p>
            </div>
            <div class="flexbox-item flexbox-item2">
                <span class="iconify icons" data-icon="eva:question-mark-fill"></span>
                <h3>Question 2</h3>
                <p class="p1">Do I have to sign up to generate my code?</p>
            </div>
            <div class="flexbox-item flexbox-item3">
                <span class="iconify icons" data-icon="eva:question-mark-fill"></span>
                <h3>Question 3</h3>
                <p class="p1">Is generating my QR Code free?</p>
            </div>
            <div class="flexbox-item flexbox-item4">
                <span class="iconify icons" data-icon="eva:question-mark-fill"></span>
                <h3>Question 4</h3>
                <p class="p1">Can my QR code be deactivated?</p>
            </div>
            <div class="flexbox-item flexbox-item5">
                <span class="iconify icons" data-icon="eva:question-mark-fill"></span>
                <h3>Question 5</h3>
                <p class="p1">How many times can the code be scanned? Is there a limit?</p>
            </div>
            <div class="flexbox-item flexbox-item6">
                <span class="iconify icons" data-icon="eva:question-mark-fill"></span>
                <h3>Question 6</h3>
                <p class="p1">Dynamic vs Static QR Code<br> Which is better?</p>
            </div>
        </div>
        <div class="middle">
            <button><a href="sign-in.html">Create QR Codes</a></button><br>
            <img src="{% static 'images/Logo.png' %}" alt="MiQR logo" id="logo">
            <p class="one">Generates different QR Codes depending on your purpose, you can
                use our QR code generator to create QR codes to open a website, store 
                Image, Files, view PDF files, connect to a Wifi and more.
            </p>
        </div>
        <footer class="footer">
            <div class="foot1">
                <h3 class="second">Useful Links</h3>
                <p><a href="{% url 'dashboard-main' %}">Create QR Code</a></p>
                <p><a href="{% url 'about' %}">About Us</a></p>
                <p><a href="#">Terms of Service</a></p>
                <p><a href="{% url 'privacy-policy' %}">Privacy Policy</a></p>
            </div>
            <div class="foot1">
                <h3 class="second">Support</h3>
                <p><a href="{% url 'contact' %}">Contact</a></p>
                <p><a href="{% url 'faq' %}">FAQ</a></p>
            </div>
        </footer>
    </div>
</body>
</html>