{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'style-index.css' %} " />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet" />
        <title>MIQR Landing Page</title>
	</head>
	<body>
		<div class="hero">
			<nav>
				<img class="logo" src="{% static 'images/logo.png' %}" alt="" />
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
					<li><a href="{% url 'faq' %}" style="margin-right: 390px;" >FAQ</a></li>
				</ul>
				<div class="log">
					<a href="{% url 'login' %}">Login</a>

					<a href="{% url 'register' %}"><button type="button" style="margin-left: 16px;">Get Started</button></a>
				</div>
				<a href=""><img class="menu" src="{% static 'images/menu.png' %} " alt=""></a>
			</nav>
		</div>

		<section class="hero-content">
			<div class="col1">
				<div class="text-info">
					<h1>
						Generate a Unique<br /><span style="color: #009995">QR Codes</span>
						easily<br />
						and fast.
					</h1>
					<br />
					<p>
						Create free custom QR codes with colors and design. It supports
						tracking,analytics and free texts.
					</p>
					<br /><br />
					<a  href="{% url 'create' %}">
						<button class="create">Create QR Code</button>
					</a>
				</div>
			</div>
			<div class="col2">
				<div class="illustration">
					<img src="{% static 'images/amico.png' %}" alt="" />
				</div>
			</div>
		</section>

		<section class="feature-section">
			<h3 class="fsh3">Why Choose Us</h3>
			<div class="feature">
				<div class="illustration">
					<img src="{% static 'images/why1.png' %}" alt=""  class='why1' />
				</div>
				<div class="text-info">
					<p>
						Get<span style="color: #009995"> free</span> vector for best print
						quality
					</p>
				</div>
			</div>
			<div class="feature">
				<div class="text-info">
					<p>
						Create <span style="color: #009995">non-expiring</span> free QR
						codes with our online QR code generator.
					</p>
				</div>
				<div class="illustration">
					<img src="{% static 'images/why2.png' %}" alt="" class='why2'/>
				</div>
			</div>
			<div class="feature">
				<div class="illustration">
					<img src="{% static 'images/why3.png' %}" alt="" class='why3'/>
				</div>
				<div class="text-info">
					<p>
						We support
						<span style="color: #009995">Dynamic codes</span>,tracking,vcards
						and many more.
					</p>
				</div>
			</div>
		</section>

		<section class="ofeatures-content">
			<h4>Our Features</h4>
			<div class="wrapper">
				<div class="item1">
					<h6>Dashboard</h6>
					<br />
					<p>
						Helps you see different categories for which your QR code can be
						generated including social media, Link to URL, Website visit and
						more exciting categories.
					</p>
				</div>
				<div class="item2">
					<h6>Analytics</h6>
					<br />
					<p>
						Keep track of all your old and recent activities including generated
						QR codes, Total scans and more.
					</p>
				</div>
				<div class="item3">
					<h6>QR Codes</h6>
					<br />
					<p>Helps you view already generated QR Codes.</p>
				</div>
			</div>
		</section>

		<section class="wrapper2">
			<h1>How it works</h1>
			<div class="wrapper-items">
				<div class="content">
					<img class='howimg' src="{% static 'images/jam_qr-code.png' %}" /><br /><br />
					<p>Choose a category for your QR Code</p>
				</div>
				<div class="content">
					<p>Create and customize your unique QR Code</p>
					<br />
					<img class='howimg' src="{% static 'images/ci_qr-code-1.png' %}" />
				</div>
				<div class="content">
					<img class='howimg' src="{% static 'images/Group.png' %}" /><br /><br />
					<p>Save and download your QR Code</p>
				</div>
			</div>
			<a  href="{% url 'create' %}">
				<button>Create QR Code</button>
			</a>
		</section>
		<section class="wrapper3">
			<div class="head">
				<h5>FAQ</h5>
				<br />
				<p>
					Got a question? We are here to answer! if you don't see your question
					here,<br />
					drop us a line on our contact page.
				</p>
			</div>
			<div class="faq">
				<div class="can">
					<a href="{% url 'faq' %}"><p>Can i generate a QR Code from URL?</p></a>
				</div>
				<div class="can">
					<a href="{% url 'faq' %}"><p>Do i have to register to generate my QR Code?</p></a>
				</div>
				<div class="can">
					<a href="{% url 'faq' %}">
                        <p>
							What is the difference between static and dynamic QR Codes?
						</p>
                    </a>
				</div>
				<div class="can">
					<a href="{% url 'faq' %}"><p>Is generating a code free?</p></a>
				</div>
			</div>
            <a href="{% url 'faq' %}" class="vmbtn">
			    <button>View More</button>
            </a>
		</section>

		<footer>
			<div class="foot">
				<div class="gen">
					<img src="{% static 'images/logo.png' %}" /><br /><br />
					<p>
						Generates different QR Codes. Depending on your purpose, you can use
						our QR generator to create QR Codes to open a website, Store image
						files, View PDF files, connect to a wifi and more.
					</p>
				</div>
				<div>
					<h5>Useful Links</h5>
					<br />
					<a href="{% url 'create' %}" ><p>Create QR Codes</p></a><br /><br />
					<a href="{% url 'about' %}" ><p>About Us</p></a><br /><br />
					<a href="{% url 'tos' %}" ><p>Terms of Service</p></a><br /><br />
					<a href="{% url 'privacy-policy' %}" ><p>Privacy Policy</p></a>
				</div>
				<div>
					<h5>Support</h5>
					<br />
					<a href="{% url 'contact' %}" ><p>Contact Us</p></a><br /><br />
					<a href="{% url 'faq' %}" ><p>FAQ</p></a>
				</div>
			</div>
			<br /><br />
			<p>copyright @ 2022 MIQR</p>
		</footer>
	</body>
</html>
