{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style-tos.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Terms of service</title>
</head>
<body>
<div class="header">

    <nav class="navbar navbar-inverse">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="material-icons">&#xe5d2;</i>
        </label>
        <div class="container-fluid">
            <div class="navbar-header">
                <label class="logo"><img class="logo" src="{% static 'images/web.jpg' %}" alt=""></label>

                <ul class="nav navbar-nav navbar-right" style="margin-top: 2px;">
                    <li class="gilmerregular-regular-nomal-midnight-20px"><a href="{% url 'login' %}">Login</a></li>
                    <li>
                        <button class="btn"><a href="{% url 'register' %}" style="
    padding-left: 0px;
    padding-right: 0px;
"></a>Get Started
                        </button>
                    </li>
                </ul>

                <ul class="nav navbar-nav" style="margin-right: 400px;margin-top: 2px;">
                    <li class="gilmerregular-regular-nomal-midnight-20px place"><a href="{% url 'home' %}">Home</a></li>
                    <li class="gilmerregular-regular-nomal-midnight-20px">
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li class="gilmerregular-regular-nomal-midnight-20px border-2px-midnight">
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="gilmerregular-regular-nomal-midnight-20px"><a href="{% url 'faq' %}">FAQ</a></li>
                </ul>


            </div>

        </div>
</nav>
</div>




<div class="body">
    <div class="terms">
        <h3>Terms of sevice</h3>
    </div>
    <div class="thank_you">
        <p class="thank_you">
            Thank you for using our services. These terms of service(Terms) cover your use and access
            of to the every feature of our website, our Chrome Extension and related software(our Services).
            By using our Services you agree these terms and review our Privacy Policy. If you do not agree to these
            terms of our Privacy Policy, you should not use our Services.
            Our services may include web-based or downloadable software, which may update automatically on your device
            to newer versions.We grant you a worldwide, non-exclusive and non-transferable to use the software sole to
            use the services. Components of the software may be offered under an open source license, in this case we
            will make that license available to you. Provisions of the open source license may expressly override some
            of these Terms.
            We may change the features of our Services, withdraw or add new features from time to time.</p>
        <div class="create">
            <h3 class="create_qr">Create QR code</h3>
        </div>
    </div>
</div>

</body>
<footer class="container">
    <section class="container">
        <div class="column-1">
            <label class="logo-footer">
                <img src="{% static 'images/web.jpg' %}" alt="">
            </label>
            <p class="generate">Generate different QR codes depending on your purpose,you can use our QR generator to
                create QR codes to open a website,store image files,view PDF files,connect to a Wifi and more.</p>
        </div>
        <div class="column-2">
            <ul>

                <li><strong>Useful links</strong></li>

                <li><a href="{% url 'create' %}">Create QR code</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'tos' %}">Terms of service</a></li>
                <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>

            </ul>

        </div>
        <div class="column-3">
            <ul>

                    <li><strong>Support</strong></li>

                <li><a href="{% url 'contact' %}">Contact us</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>

        </div>


    </section>
    <section class="copy">copyright @ 2022 name of company</section>
</footer>

</html>
