{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'style-acc.css' %}"/>
    <link
            rel="shortcut icon"
            href="{% static 'favicon.ico' %}"
            type="image/x-icon"
    />
    <title>Forgot Password</title>
</head>
<body class="canva-body">
<div class="canva-container">
    <header class="canva-header">
        <img src="{% static 'images/Logo.svg' %}" alt="Site Logo"/>
    </header>
    <main>
        <section class="forgot-pw-container">
            <h2>Reset Password</h2>
            <h3>Hey there!</h3>
            <p>
                Don’t panic, we will send a code to your email address to help reset
                your password.
            </p>
            {% if sent == True %}

            <div class="container p-5">
                <h2 class="font-weight-bold mt-3">Password reset sent</h2>
                <hr>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've
                    entered the address you registered with, and check your spam folder.</p>
            </div>


            {% else %}
            <form method="POST" action="{% url 'forgot-password' %}"
                  class="forgot-pw-form">

                {% csrf_token %}
                <div class="forgot-pw-email-container">
                    <label for="forgot-pw-email">Email</label>
                    <input
                            type="email"
                            name="email"
                            id="forgot-pw-email"
                            class="forgot-pw-email"
                            placeholder="example@gmail.com"
                            required
                    />
                </div>
                <div class="forgot-pw-btn-container">
                    <input type="submit" value="Continue" class="forgot-pw-btn"/>

                </div>
                {% endif %}
            </form>
        </section>
    </main>
</div>
</body>
</html>
