{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/80acf0b03b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style-acc.css' %}">
    <title>Login</title>
  </head>
  <body class="signin-body">

    <header class="header-signin">
      <div class="logo-container">
        <img src="{% static 'images/Logo.svg' %}" alt="Site Logo">
      </div>
    </header>

    <main class="signin-container">

      <div class="signin-img">
        <img src="{% static 'images/unsplash_EPeK7w5Eeic.png' %}" alt="Scanning QR-Code">

      </div>

      <div class="signin-content">
        <div class="signin-header">
          <h2>Welcome Back <img class="emoji" src="{% static 'images/Emoji.svg' %}" alt="Hand-waving Emoji"></h2>
        </div>

        <form method='POST' action="{% url 'login' %}" class="signin-form">
          {% csrf_token %}
          <div class="input-container">
            <label for="signin-email">Email</label>
            <input
              type="email"
              name="{{ 'username' }}"
              id="signin-email"
              class="signin-input"
              placeholder="example@gmail.com"
              required
            />
          </div>

          <div class="input-container password-container">
            <label for="signin-password">Password</label>
            <input
              type="password"
              name="{{ 'password' }}"
              id="signin-password"
              class="signin-input"
              placeholder="************"
              required
            />
          </div>

          <div class="forgot-pw">
            <a href="{% url 'forgot-password' %}">Forgot Password?</a>
          </div>

          
          <div class="input-container submit-btn-container">
              <input 
              type="submit" 
              value="login"
              class="signin-btn">

              <input type="hidden" name="next" value="{{ next }}" >
          </div>

        </form>

        <div class="signin-divider">
            <p><span>or</span></p>
        </div>

        <div class="google-signin-container">
            <button>Sign in with Google</button>
        </div>


        <div class="create-acc">
            <p>Don't have an Account?<a href="{% url 'register' %}">  Create an account</a></p>
        </div>

      </div>
    </main>
  </body>
</html>
