{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style-acc.css' %}">
    <title>New Password</title>
</head>
<body class="canva-body">
    <div class="canva-container">
        <header class="canva-header new-password-logo">
            <img src="{% static 'images/Logo.svg' %}" alt="Site Logo">
        </header>
        <main>
            <section class="forgot-pw-container">
                <h2>Enter New Password</h2>
                <form action="{% url 'new-password' %}" class="forgot-pw-form">
                    {% csrf_token %}
                    <div class="input-container new-password">
                        <input
                          type="password"
                          name="new-password"
                          id="new-password"
                          class="signin-input"
                          placeholder="Enter a new password"
                          required
                        />
                    </div>

                    <div class="input-container confirm-password">
                        <input
                          type="password"
                          name="confirm-password"
                          id="confirm-password"
                          class="signin-input"
                          placeholder="Confirm Password"
                          required
                        />
                    </div>
                    <div class="forgot-pw-btn-container">
                        <input
                        type="submit"
                        value="Continue"
                        class="forgot-pw-btn"
                        >
                    </div>
                </form>
            </section>
        </main>
    </div>

</body>
</html>