{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/80acf0b03b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style-acc.css' %}">
    <title>Sign-Up</title>
  </head>
  <body class="signup-body">

    <header class="header-signup">
      <div class="logo-container">
        <img src="{% static 'images/Logo.svg' %}" alt="Site Logo">
      </div>
    </header>

    <main class="signup-container">

      <div class="signup-img">
        <img src="{% static 'images/unsplash_RII9HuLDz4M.png' %}" alt="Scanning QR-Code on Table">

      </div>

      <div class="signup-content">
        <div class="signup-header">
          <h2>Create an Account</h2>
        </div>

        <form method='POST' action="{% url 'register' %}" class="signup-form">
          {% csrf_token %}
          <div class="input-container">
            <label for="signup-email">Email</label>
            <input
              type="email"
              name="{{ 'username' }}"
              id="signup-email"
              class="signup-input"
              placeholder="example@gmail.com"
              required
            />
          </div>

          <div class="input-container password-container">
            <label for="signup-password">Password</label>
            <input
              type="password"
              name="{{ 'password1' }}"
              id="signup-password"
              class="signup-input"
              placeholder="************"
              required
            />
          </div>

          <div class="input-container password-container">
            <label for="confirm-signup-password">Confirm Password</label>
            <input
              type="password"
              name="{{ 'password2' }}"
              id="confirm-signup-password"
              class="signup-input"
              placeholder="************"
              required
            />
          </div>

          
          <div class="input-container submit-btn-container password-container">
              <input 
              type="submit" 
              value="Sign up" 
              class="signup-btn">
          </div>

        </form>

        <div class="Privacy-policy">
            <p>By creating this account you agree to our <a href="{% url 'privacy-policy' %}"> Privacy policy</a></p>
          </div>

        <div class="signup-divider">
            <p><span>or</span></p>
        </div>

        <div class="google-signup-container">
            <button>Sign up with Google</button>
        </div>


        <div class="acc-login">
            <p>Already have an Account?<a href="{% url 'login' %}"> Login </a></p>
        </div>

      </div>
    </main>
  </body>
</html>
