*{
    margin: 0;
    padding: 0;
   } 
   body{
    background-color: white;
   }
   .grid-container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-auto-rows: 43.4rem;
   }
   .griditem{
    display: flex;
    flex-direction: column;
   }

   /* Grid Item 1 & its Contents Styling */
   .griditem1{
    background-color: #061232;
    text-align: left;
   }
   .menu{
    background-color: white;
    margin: 1rem;
    border: none;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    width: 11rem;
    height: 3.5rem;
   }
   .griditem1 a{
    color: rgb(207, 204, 204);
   }
   
   .sidebaritems{
    margin: 1rem;
   }
   #a{
    margin-top: 4rem;
   }
   .iconify{
    padding-right: 0.5rem;
   }
   .sidebaritems a:hover{
      color: #061232;
   }
   .active, .sidebaritems:hover{
      background-color: white;
      padding: 1rem;
   }

   .sidebaritems2{
    margin: 2rem 1rem 1rem 0.5rem ;
    padding: 2rem 1rem 2rem 1rem;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
   }
   .sidebaritems3{
    margin: 0.5rem 1rem 1rem 0.5rem ;
    padding: 1rem 1rem 2rem 1rem;
    border-bottom: 1px solid white;
   }


   /* Grid Item 2 & its Contents Styling */
   .griditem2{
   gap: 2rem;
   }
   .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5rem;
    text-align: center;
   }
   .mainitem1{
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#061232;
   }
   .mainitem1 h3 {
      font-size: 2rem;
      font-family: Glimer Bold;
   }
   .mainitem2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    color: #061232;
    margin-right: 5rem;
    gap: 1rem;
   }
   .mainitem2 p{
      font-size: 1.5rem;
      font-family: Glimer Medium;
      padding-right: 3rem;
   }
   .mainitem2 i{
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    border-radius: 50%;
    margin-left: 0.5rem;
   }
   #b{
      border-radius: 50%;
   }
   .mainitem2 .iconify{
    background-color: #CCFAF9;
    color: #061232;
    margin-left: 1rem;
    margin-top: 0.2rem; 
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
   } 
   .bodywrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
   }
   .body-itemwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   }
   .body-item{
    width: 220px;
    height: 116px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
   }
   .h3-1{
    font-size: 1.5rem;
    font-family: Glimer Bold;
    padding-left: 3rem;
   }
   .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
    .bodyitem{
    width: 280px;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid #061232;
    border-radius: 8px;
   }
   button {
      background-color: #061232;
      width: 15rem;
      height: 3rem;
      border: none;
      border-radius: 0.25rem;
   }

   button a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
   }
   
